<environment names="Development">

    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.js"></script>
    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.min.js"></script>
    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.slim.js"></script>
    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.slim.min.js"></script>
    <a href="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.min.map">c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.min.map</a>
    <a href="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.slim.min.map">c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery\jquery.slim.min.map</a>
    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>
    <script src="c:\users\user\desktop\2023\juillet\préparation entretient client\webapplicationbookstore\webapplicationbookstore\wwwroot\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.js"></script>
</environment>


